body, html
  padding: 0
  margin: 0

.container
  width: 100%
  background-color: bgc(main)

.logo-link
  display: flex
  justify-content: flex-start
  align-items: center
  text-decoration: none
  color: txtc(h-text)

.page

  &-title_size1
    font-size: 52px

  &-title_size2
    font-size: 30px

  &-title_size3
    font-size: 20px

  &-text_main
    font-size: 16px

  &-text_sub
    font-size: 14px

  &-btn_style
    display: block
    padding: 21px 39px 21px 37px
    text-transform: uppercase
    text-decoration: none
    color: txtc(h-text)
    background-color: bgc(btn)
    border: none
    cursor: pointer
    outline: none