body, html
  padding: 0
  margin: 0

.container
  width: 100%
  background-color: bgc(main)

.logo-link
  display: flex
  justify-content: center
  align-items: center

.page-btn_style
  display: block
  padding: 21px 39px 21px 37px
  text-transform: uppercase
  text-decoration: none
  color: txtc(h-text)
  background-color: bgc(btn)
  border: none
  cursor: pointer
  outline: none