.footer
  display: flex
  flex-direction: column
  justify-content: flex-start

  &-top
    display: flex
    justify-content: space-between
    align-items: flex-start
    width: $page-w - $f-top-pad-lr * 2
    margin: 0 auto
    padding: $f-top-pad
    background-color: bgc(foot-top)

  &-bot
    display: flex
    justify-content: space-between
    align-items: flex-start
    width: $page-w - $f-bot-pad-lr * 2
    margin: 0 auto
    padding: $f-bot-pad
    background-color: bgc(foot-bot)

.comp-desc
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  width: $f-top-col-w

  &__text
    margin: 30px 0 35px
    line-height: 1.714
    color: txtc(f-txt)

  &__link
    @extend .post__link
    margin: 0
    font-family: "Montserrat_R", sans-serif
    color: txtc(f-top-link)

.foot

  &-recent
    width: $f-top-col-w

    &__title
      display: inline-block
      margin: 30px 0
      font: #{24px/1.2} "Raleway_B", sans-serif
      font-weight: bold
      text-transform: capitalize
      color: txtc(f-txt-sub)

  &-post
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    margin-bottom: 20px
    padding-bottom: 21px
    border-bottom: $f-top-post-border

    &:last-child
      margin-bottom: 0
      padding-bottom: 0
      border: none

    &__date
      font: #{12px/1.667} "Montserrat_L", sans-serif
      color: txtc(f-top-date)
      +prefixes(transition, "color .2s ease-out 0s")

    &__text
      margin: 15px 0 0
      line-height: 1.429
      color: txtc(f-txt)
      +prefixes(transition, "color .3s ease-out 0s")

    &:hover

      .foot-post__date
        color: txtc(f-top-date_hov)

      .foot-post__text
        color: txtc(f-top-text_hov)

.twits
  width: $f-top-col-w

  .foot-post__text
    margin: 0 0 15px

  &__title
    @extend .foot-recent__title

.widget
  width: $f-top-col-w

  &__title
    @extend .foot-recent__title

  &__wrapper
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    align-content: flex-start

  &__img
    position: absolute
    top: 0
    left: 0
    +prefixes(transition, "width .25s ease-out 0s, height .25s ease-out 0s, top .25s ease-out 0s, left .25s ease-out 0s")

    &:hover
      top: -25px
      left: -25px
      z-index: 2
      width: 180px
      height: 148px

    &-wrapper
      position: relative
      width: 130px
      height: 98px
      margin: 0 10px 10px 0

      &:nth-child(even)
        margin-right: 0

.foot-info
  display: flex
  justify-content: flex-start
  align-items: flex-start
  margin: 0
  padding-left: 0

  &:last-child &__item:last-child &__link
    color: txtc(f-bot-link-org)

  &__item
    display: inline
    padding: 0 12px 0 13px
    font: #{13px/1.538} "Montserrat_L", sans-serif
    color: txtc(f-txt)
    list-style-type: none
    border-left: $f-bot-menu-border

    &:nth-child(3) .foot-info__link
      text-transform: uppercase

    &:first-child
      border-left: none

      .foot-info__link
        color: txtc(f-bot-link-org)

  &__link
    text-transform: capitalize
    text-decoration: none
    color: txtc(f-txt)
    +prefixes(transition, "color .2s ease-in-out 0s")

    &:hover
      color: txtc(f-bot-link-item)