.header
  width: $page-w
  margin: 0 auto
  padding: 40px 0 0 0
  background: bgc(head) url(../img/h-slide-photo1_prof.jpg) no-repeat center 0/cover

  &-nav
    display: flex
    justify-content: center
    align-items: flex-start
    width: 100%
    margin: 0 auto

  &-carousel
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    align-content: space-between

.nav

  &-menu
    display: flex
    justify-content: flex-start
    align-items: flex-start
    margin: 22px 0 0 219px
    padding-left: 0

    &__item
      display: inline-block
      margin-left: 29px
      list-style-type: none

      &:first-child
        margin-left: 0

    &__link
      font: #{14px/1.2} "Montserrat_L", sans-serif
      text-transform: capitalize
      text-decoration: none
      color: txtc(h-menu-link)
      transition: color .1s ease-in-out 0s

      &:hover
        color: txtc(h-menu-link_hov)

  &-cart, &-search
    display: inline-block
    height: 24px
    margin-top: 15px
    
  &-cart
    width: 18px
    margin-left: 63px

    &__img
      fill: bgc(cart_search)

  &-search
    width: 24px
    margin-left: 28px
    padding: 0
    background: none
    border: none
    cursor: pointer
    outline: none

    &__img
      fill: bgc(cart_search)

.carousel

  &-btn_left, &-btn_right
    position: relative
    display: block
    width: 40px
    height: 73px
    text-decoration: none

  &-btn_left
    margin: ($h-slide-txt-marg + 94px) 0 0 149px

    &::after
      content: ""
      position: absolute
      top: 10px
      left: 10px
      width: 52px
      height: 52px
      border-top: 2px solid rgb(163, 162, 160)
      border-right: 2px solid rgb(163, 162, 160)
      transform: rotate(225deg)
      transition: border-top .15s ease-in-out 0s, border-right .15s ease-in-out 0s 

    &:hover::after
      border-top: 2px solid rgb(229, 196, 175)
      border-right: 2px solid rgb(229, 196, 175)

  &-btn_right
    margin: ($h-slide-txt-marg + 94px) 149px 0 0

    &::after
      content: ""
      position: absolute
      top: 10px
      left: -25px
      width: 52px
      height: 52px
      border-top: 2px solid rgb(163, 162, 160)
      border-right: 2px solid rgb(163, 162, 160)
      transform: rotate(45deg)

    &:hover::after
      border-top: 2px solid rgb(229, 196, 175)
      border-right: 2px solid rgb(229, 196, 175)

  &-txt
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    margin-top: $h-slide-txt-marg
    text-align: center

    &__subtitle, &__title
      width: $h-slide-txt-w
      margin: 0 0 14px 0
      color: txtc(h-text)

    &__subtitle
      font: #{36px/1.2} "Raleway_M", sans-serif      

    &__text
      width: ($h-slide-txt-w - 27px)
      line-height: 1.5
      color: txtc(h-text)

    &__btn
      padding: 21px 39px 21px 37px
      text-transform: uppercase
      box-shadow: inset 0px -3px 0px 0px rgb(115, 99, 87)

  &-nav
    display: flex
    justify-content: center
    align-items: flex-end
    width: 100%
    margin: #{$h-slide-nav-marg}
    padding-left: 0

    &__item
      margin-left: 6px
      list-style-type: none

      &:first-child
        margin-left: 0

    &__link
      display: block
      width: 15px
      height: 15px
      text-decoration: none

      &-img
        fill: rgb(142, 143, 144)

      &:hover &-img
        stroke: rgb(211, 193, 173)
        stroke-width: 2px
        fill: none