$bg-color: (
  main: rgb(255, 255, 255),
  sec: rgb(251, 250, 248),
  head: rgb(102, 102, 102),
  btn: rgb(153, 134, 117),
  btn_hov: rgb(199, 178, 153),
  grad: "0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%",
  foot-top: rgb(25, 25, 25),
  foot-bot: rgb(0, 0, 0),
  m-serv-icon_hov: rgb(199, 178, 153),
  m-serv-bot-line: rgb(241, 238, 233),
  m-serv-bot-line_hov: rgb(199, 178, 153),
  m-proj-link_hov: rgb(153, 134, 117),
  m-proj_hov: rgb(54, 47, 45),
  m-vid-btn: rgba(0, 0, 0, .2),
  m-post_hov: rgb(54, 47, 45),
  m-achiev-icon: rgb(199, 178, 153),
  m-achiev-bot-line: rgb(255, 255, 255)
);

$color: (
  title-s1: rgb(255, 255, 255),
  title-s2: rgb(85, 85, 85),
  title-s3: rgb(199, 178, 153),
  text-main: rgb(140, 140, 140),
  text-sub: rgb(140, 140, 140),
  h-text: rgb(255, 255, 255),
  h-menu-link: rgb(255, 255, 255),
  h-menu-link_hov: rgb(199, 178, 153),
  m-serv-title_hov: rgb(199, 178, 153),
  m-promo-title: rgb(255, 255, 255),
  m-promo-fword: rgb(199, 178, 153),
  m-promo-txt: rgb(97, 88, 85),
  m-proj-link_hov: rgb(255, 255, 255),
  m-proj-title_hov: rgb(255, 255, 255),
  m-proj-tags_hov: rgb(199, 178, 153),
  m-vid-title: rgb(255, 255, 255),
  m-vid-txt: rgb(255, 255, 255),
  m-vid-dur: rgb(199, 178, 153),
  m-achiev-num: rgb(255, 255, 255),
  m-achiev-txt: rgb(199, 178, 153),
  m-rec-posts-post-title: rgb(80, 80, 80),
  m-rec-posts-post-txt: rgb(140, 140, 140),
  m-rec-posts-post-link: rgb(199, 178, 153),
  m-rec-posts-post-title_hov: rgb(199, 178, 153),
  m-rec-posts-post-txt_hov: rgb(255, 255, 255),
  f-txt: rgb(85, 85, 85),
  f-txt-sub: rgb(255, 255, 255),
  f-top-link: rgb(209, 209, 209),
  f-top-date: rgb(54, 54, 54),
  f-top-date_hov: rgb(255, 255, 255),
  f-top-text_hov: rgb(199, 178, 153),
  f-bot-link-org: rgb(149, 149, 149),
  f-bot-link-item: rgb(199, 178, 153) 
);

$page-w: 1920px;
$h-menu-w: 1170px;
$h-slide-txt-w: 589px;
$h-slide-txt-marg: 286px;
$h-slide-nav-marg: "327px 0 40px";
$m-serv-fig-w: 266px;
$m-serv-pad-lr: 378px;
$m-serv-pad-b: 80px;
$m-comp-title-marg-tb: "83px 0 30px";
$m-comp-txt-w: 757px;
$m-comp-txt-marg-b: 522px;
$m-comp-bg-pos-t: 325px;
$m-comp-bg-pos-l: 576px;
$m-promo-pad-lr: 370px;
$m-promo-pad-t: 40px;
$m-promo-pad-b: 57px;
$m-latest-pad-lr: 375px;
$m-latest-pad-t: 73px;
$m-latest-pad-b: 80px;
$m-latest-txt-marg-lr: 208px;
$m-latest-nav-border: 1px solid rgb(235, 235, 235);
$m-vid-h: 705px;
$m-vid-desc-w: 552px;
$m-vid-desc-pos-t: $m-vid-h - 495px;
$m-vid-desc-pos-l: 640px;
$m-adapt-pad-r: 388px;
$m-adapt-pad-l: 875px;
$m-adapt-pad: 195px $m-adapt-pad-r 179px $m-adapt-pad-l;
$m-adapt-bg-pos-l: 423px;
$m-achiev-pad-l: 496px;
$m-achiev-pad-r: 504px;
$m-achiev-pad: 69px $m-achiev-pad-r 60px $m-achiev-pad-l;
$m-rec-posts-pad-lr: 375px;
$m-rec-posts-pad: 82px $m-rec-posts-pad-lr 80px $m-rec-posts-pad-lr;
$m-rec-posts-post-w: 370px;
$m-rec-posts-post-border: 1px solid rgb(248, 248, 248);
$m-clients-pad-lr: 405px;
$m-clients-pad-tb: 140px;
$m-clients-pad: $m-clients-pad-tb $m-clients-pad-lr;
$f-top-pad-lr: 375px;
$f-top-pad-tb: 80px;
$f-top-pad: $f-top-pad-tb $f-top-pad-lr;
$f-top-col-w: 270px;
$f-top-post-border: 1px solid rgb(31, 31, 31);
$f-bot-pad-lr: $f-top-pad-lr;
$f-bot-pad: 45px $f-bot-pad-lr 52px $f-bot-pad-lr;
$f-bot-menu-border: 1px solid txtc(f-txt);