$bg-color: (
  main: rgb(255, 255, 255),
  sec: rgb(251, 250, 248),
  head: rgb(102, 102, 102),
  btn: rgb(153, 153, 102),
  grad: "0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%",
  foot-top-grad: "0deg, rgb(54,47,45) 0%, rgb(83,71,65) 100%",
  foot-bot: rgb(0, 0, 0)
);

$color: (
  h-text: rgb(255, 255, 255)
);

$page-w: 1920px;
$h-menu-w: 1170px;
$h-slide-txt-w: 589px;
$h-slide-txt-marg: 286px;