.Copyright_©_2015_Waxom_______Privacy_Policy____ {
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb(85, 85, 85);
  line-height: 1.538;
  text-align: left;
  position: absolute;
  left: 374.938px;
  top: 6923.057px;
  width: 401px;
  height: 14px;
  z-index: 74;
}
