.Lorem_ipsum_dolor_sit_amet {
  font-size: 20px;
  font-family: "Raleway";
  color: rgb(85, 85, 85);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 403.87px;
  top: 5573.198px;
  width: 257px;
  height: 19px;
  z-index: 312;
}
