.button {
  border-radius: 3px;
  background-color: rgb(17, 17, 17);
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  position: absolute;
  left: 876px;
  top: 589px;
  width: 170px;
  height: 53px;
  z-index: 419;
}
