@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Montserrat_EL";
  src: url(../fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: "Montserrat_L";
  src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat_R";
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Raleway_R";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway_M";
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway_SB";
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway_B";
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Raleway_EB";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
body, html {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  background-color: white;
}

.logo-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font: 34px/1.2 "Raleway_R", sans-serif;
  text-decoration: none;
  color: white;
}

.page-title_size1 {
  font: 52px/1.2 "Raleway_EB", sans-serif;
  font-weight: bold;
  color: white;
}
.page-title_size2 {
  font: 30px/1.2 "Raleway_B", sans-serif;
  font-weight: bold;
  color: #555555;
}
.page-title_size3 {
  font: 20px/1.2 "Raleway_M", sans-serif;
  color: #c7b299;
}
.page-text_main {
  font: 16px/1.75 "Montserrat_L", sans-serif;
  color: #8c8c8c;
}
.page-text_sub {
  font: 14px/1.2 "Montserrat_L", sans-serif;
  color: #8c8c8c;
}
.page-btn_style {
  display: block;
  padding: 21px 39px 21px 37px;
  font: 14px/1.643 "Raleway_EB", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #998675;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0px 0px rgb(115, 99, 87);
  -moz-box-shadow: inset 0px -3px 0px 0px rgb(115, 99, 87);
  -ms-box-shadow: inset 0px -3px 0px 0px rgb(115, 99, 87);
  -o-box-shadow: inset 0px -3px 0px 0px rgb(115, 99, 87);
  box-shadow: inset 0px -3px 0px 0px rgb(115, 99, 87);
  border: none;
  cursor: pointer;
  outline: none;
}
.page-btn_style:hover {
  color: white;
  background-color: #c7b299;
}
.page-btn_style:active {
  -webkit-box-shadow: inset 0px 3px 0px 0px rgb(153, 134, 117);
  -moz-box-shadow: inset 0px 3px 0px 0px rgb(153, 134, 117);
  -ms-box-shadow: inset 0px 3px 0px 0px rgb(153, 134, 117);
  -o-box-shadow: inset 0px 3px 0px 0px rgb(153, 134, 117);
  box-shadow: inset 0px 3px 0px 0px rgb(153, 134, 117);
}

.header {
  width: 1920px;
  margin: 0 auto;
  padding: 40px 0 0 0;
  background: #666666 url(../img/h-slide-photo1_prof.jpg) no-repeat center 0/cover;
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}
.header-carousel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 22px 0 0 219px;
  padding-left: 0;
}
.nav-menu__item {
  display: inline-block;
  margin-left: 29px;
  list-style-type: none;
}
.nav-menu__item:first-child {
  margin-left: 0;
}
.nav-menu__link {
  font: 14px/1.2 "Montserrat_L", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}
.nav-menu__link:hover {
  color: #c7b299;
}
.nav-cart, .nav-search {
  display: inline-block;
  height: 24px;
  margin-top: 15px;
}
.nav-cart {
  width: 18px;
  margin-left: 63px;
  background: url(../img/svg/icon-cart.svg);
}
.nav-search {
  width: 24px;
  margin-left: 28px;
  padding: 0;
  background: url(../img/svg/icon-search.svg);
  border: none;
  cursor: pointer;
  outline: none;
}

.carousel-btn_left, .carousel-btn_right {
  display: block;
  width: 40px;
  height: 73px;
  text-decoration: none;
}
.carousel-btn_left {
  margin: 380px 0 0 149px;
  background: url(../img/h-sprite_8bit.png) -24px 0;
}
.carousel-btn_left:hover {
  background: url(../img/h-sprite_8bit.png) -24px -73px;
}
.carousel-btn_right {
  margin: 380px 149px 0 0;
  background: url(../img/h-sprite_8bit.png) -64px 0;
}
.carousel-btn_right:hover {
  background: url(../img/h-sprite_8bit.png) -64px -73px;
}
.carousel-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 286px;
  text-align: center;
}
.carousel-txt__subtitle, .carousel-txt__title {
  width: 589px;
  margin: 0 0 14px 0;
  color: white;
}
.carousel-txt__subtitle {
  font: 36px/1.2 "Raleway_M", sans-serif;
}
.carousel-txt__text {
  width: 562px;
  line-height: 1.5;
  color: white;
}
.carousel-txt__btn {
  padding: 21px 39px 21px 37px;
  text-transform: uppercase;
  box-shadow: inset 0px -3px 0px 0px #736357;
}
.carousel-nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 327px 0 40px;
  padding-left: 0;
}
.carousel-nav__item {
  margin-left: 6px;
  list-style-type: none;
}
.carousel-nav__item:first-child {
  margin-left: 0;
}
.carousel-nav__link {
  display: block;
  width: 11px;
  height: 11px;
  margin: 2px 2px;
  text-decoration: none;
  background: url(../img/h-sprite_8bit.png) 0 -48px;
}
.carousel-nav__link:hover {
  width: 15px;
  height: 15px;
  margin: 0;
  background: url(../img/h-sprite_8bit.png) 0 -59px;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1164px;
  margin: 0 auto;
  padding: 0 378px 80px;
}
.services__img {
  width: 49px;
  height: 48px;
}
.services__img-svg {
  fill: #555555;
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 266px;
  margin: 81px 0 0 0;
}
.services__item:nth-child(2) {
  padding-top: 9px;
}
.services__item:nth-child(2) .services__img {
  width: 43px;
  height: 39px;
}
.services__item:nth-child(3) {
  padding-top: 5px;
}
.services__item:nth-child(3) .services__img {
  width: 43px;
  height: 44px;
}
.services__item:nth-child(4) {
  padding-top: 13px;
}
.services__item:nth-child(4) .services__img {
  width: 52px;
  height: 35px;
}
.services__item::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.services__item:hover .services__title {
  color: #c7b299;
}
.services__item:hover::after {
  background-color: #c7b299;
}
.services__item:hover .services__img-svg {
  fill: #c7b299;
}
.services__desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}
.services__title {
  margin-bottom: 20px;
  font: 22px/1.2 "Raleway_SB", sans-serif;
  font-weight: bold;
  color: #555555;
}
.services__text {
  margin: 0 0 30px;
  text-align: center;
  line-height: 1.714;
}

.comp-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1920px;
  margin: 0 auto;
  background: url(../img/m-comp-info-bg-center.jpg) no-repeat center bottom, url(../img/m-comp-info-bg-left.jpg) no-repeat 346px bottom, #fbfaf8 url(../img/m-comp-info-bg-right.jpg) no-repeat 806px bottom;
}
.comp-info__title {
  margin: 83px 0 30px;
}
.comp-info__text {
  width: 757px;
  margin-bottom: 522px;
  text-align: center;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  margin: 0 auto;
  padding: 40px 370px 57px 370px;
  background-image: -webkit-linear-gradient(0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -moz-linear-gradient(0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -o-linear-gradient(0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}
.promo-cont__title {
  font: 28px/1.2 "Raleway_R", sans-serif;
  text-transform: capitalize;
  color: white;
}
.promo-cont__text {
  font: 18px/1.2 "Montserrat_L", sans-serif;
  color: #615855;
}
.promo-cont__fword_spec {
  color: #c7b299;
}

.latest-proj {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1170px;
  margin: 0 auto;
  padding: 73px 375px 80px;
}
.latest-proj__title {
  width: 100%;
  margin: 0 0 30px;
  text-transform: capitalize;
  text-align: center;
}
.latest-proj__text {
  width: 100%;
  margin: 0 208px 40px;
  text-align: center;
}
.latest-proj__btn {
  margin: 10px auto 0;
}

.proj-nav {
  width: 100%;
  margin: 0 auto 40px;
}
.proj-nav-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
}
.proj-nav-menu__item {
  margin-left: 10px;
  list-style-type: none;
}
.proj-nav-menu__item:first-child {
  margin-left: 0;
}
.proj-nav-menu__link {
  padding: 10px 27px 11px 25px;
  line-height: 1.5;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.proj-nav-menu__link:hover {
  color: white;
  background-color: #998675;
}

.project {
  position: relative;
  width: 370px;
  margin: 0 30px 30px 0;
  background-color: #fbfaf8;
}
.project:nth-child(6) {
  margin-right: 0;
}
.project:nth-child(9) {
  margin-right: 0;
}
.project__btn {
  position: absolute;
  top: 105px;
  z-index: 2;
  display: none;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
}
.project__btn:nth-child(1) {
  left: 145px;
  background: url(../img/svg/link.svg) no-repeat center;
}
.project__btn:nth-child(1):hover {
  background-image: url(../img/svg/link_hov.svg);
}
.project__btn:nth-child(2) {
  left: 200px;
  background: url(../img/svg/zoom.svg) no-repeat center;
}
.project__btn:nth-child(2):hover {
  background-image: url(../img/svg/zoom_hov.svg);
}
.project__title {
  margin: 30px 0 15px 28px;
}
.project__tags {
  display: inline-block;
  margin: 0 0 27px 30px;
}
.project:hover {
  background-color: #362f2d;
}
.project:hover .project__img {
  -webkit-filter: brightness(35%);
  -moz-filter: brightness(35%);
  -ms-filter: brightness(35%);
  -o-filter: brightness(35%);
  filter: brightness(35%);
}
.project:hover .project__btn {
  display: block;
}
.project:hover .project__title {
  color: white;
}
.project:hover .project__tags {
  color: #c7b299;
}

.video-pres {
  position: relative;
  width: 1920px;
  height: 705px;
  margin: 0 auto;
  background: url(../img/m-video-bg.jpg) no-repeat center;
}
.video-pres__video {
  width: 100%;
  height: 100%;
}
.video-pres__desc {
  position: absolute;
  top: 210px;
  left: 640px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 552px;
  margin: 0 auto;
}
.video-pres__btn {
  width: 100px;
  height: 100px;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2) url(../img/svg/vid-play-btn.svg) no-repeat center;
  cursor: pointer;
  outline: none;
}
.video-pres__btn:hover {
  background-image: url(../img/svg/vid-play-btn_hov.svg);
}
.video-pres__title {
  margin: 44px 0 30px;
  font-family: "Raleway_M", sans-serif;
  font-weight: normal;
  color: white;
}
.video-pres__text {
  margin: 0 0 44px;
  text-align: center;
  color: white;
}
.video-pres__dur {
  font: 14px/1.714 "Montserrat_R", sans-serif;
  color: #c7b299;
}

.adaptive {
  width: 657px;
  margin: 0 auto;
  padding: 195px 388px 179px 875px;
  background: #fbfaf8 url(../img/m-adapt-bg.png) no-repeat 423px bottom;
}
.adaptive__title {
  margin: 0 0 40px;
}
.adaptive__text {
  margin: 0 0 40px;
}
.adaptive-plus {
  margin-left: 50px;
}
.adaptive-plus[open] .adaptive-plus__title::before {
  background-image: url(../img/svg/adapt-arrow_hov.svg);
  transform: rotate(90deg);
}
.adaptive-plus__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  line-height: 2;
  cursor: pointer;
  outline: none;
}
.adaptive-plus__title::-webkit-details-marker {
  display: none;
}
.adaptive-plus__title::before {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 29px;
  background: url(../img/svg/adapt-arrow.svg) no-repeat center;
  content: "";
}
.adaptive-plus__text {
  padding-left: 50px;
}

.comp-achiev {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 920px;
  margin: 0 auto;
  padding: 69px 504px 60px 496px;
  background-image: -webkit-linear-gradient(0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -moz-linear-gradient(0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -o-linear-gradient(0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.achievement {
  margin: 0;
}
.achievement::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background-color: white;
}
.achievement__img {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 auto 30px;
}
.achievement__img-svg {
  fill: #c7b299;
}
.achievement:nth-child(2) .achievement__img {
  width: 48px;
}
.achievement:last-child .achievement__img {
  width: 54px;
}
.achievement__desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.achievement__num {
  margin-bottom: 21px;
  font: 48px/0.75 "Montserrat_EL", sans-serif;
  color: white;
}
.achievement__name {
  margin-bottom: 30px;
  line-height: 1.429;
  text-transform: uppercase;
  color: #c7b299;
}

.recent-posts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1170px;
  margin: 0 auto;
  padding: 82px 375px 80px 375px;
}
.recent-posts__title {
  width: 100%;
  margin: 0 0 30px;
  text-align: center;
}
.recent-posts__text {
  width: 100%;
  margin: 0 0 40px;
  text-align: center;
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 370px;
  margin-right: 27px;
  border: 1px solid #f8f8f8;
}
.post::before {
  content: "30";
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  font: 24px/0.833 "Montserrat_L", sans-serif;
  color: white;
  background-color: #363636;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.post::after {
  content: "Sep.";
  position: absolute;
  top: 55px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  font: 12px/1.667 "Roboto_R", sans-serif;
  text-align: center;
  color: white;
  background-color: #252525;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.post:nth-child(5) {
  margin-right: 0;
}
.post__img {
  display: block;
  margin-bottom: 33px;
}
.post__title {
  margin: 0 30px 25px 30px;
  color: #505050;
}
.post__text {
  margin: 0 30px 30px 30px;
  line-height: 1.571;
  color: #8c8c8c;
}
.post__link, .comp-desc__link {
  margin: 0 0 33px 30px;
  line-height: 1.429;
  text-decoration: none;
  text-transform: capitalize;
  color: #c7b299;
}
.post__link::after, .comp-desc__link::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 9px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #c7b299;
  content: "";
}
.post:hover {
  background-color: #362f2d;
}
.post:hover::before {
  background-color: #c7b299;
}
.post:hover::after {
  background-color: #a48d72;
}
.post:hover .post__img {
  -webkit-filter: brightness(35%);
  -moz-filter: brightness(35%);
  -ms-filter: brightness(35%);
  -o-filter: brightness(35%);
  filter: brightness(35%);
}
.post:hover .post__title {
  color: #c7b299;
}
.post:hover .post__text {
  color: white;
}
.post-carousel {
  display: inline-block;
  margin: 40px auto 0;
}
.post-carousel__btn {
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
  outline: none;
}
.post-carousel__btn:first-child {
  background: url(../img/svg/rec-posts-btn-left.svg) no-repeat center;
}
.post-carousel__btn:first-child:hover {
  background-image: url(../img/svg/rec-posts-btn-left_hov.svg);
}
.post-carousel__btn:last-child {
  background: url(../img/svg/rec-posts-btn-right.svg) no-repeat center;
}
.post-carousel__btn:last-child:hover {
  background-image: url(../img/svg/rec-posts-btn-right_hov.svg);
}

.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
  padding: 140px 405px;
  background: url(../img/m-clients-bg.jpg) no-repeat center;
}
.clients__link {
  margin-left: 90px;
  text-decoration: none;
}
.clients__link:first-child {
  margin-left: 0;
}
.clients__link:nth-child(2) {
  height: 210px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1170px;
  margin: 0 auto;
  padding: 80px 375px;
  background-color: #191919;
}
.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1170px;
  margin: 0 auto;
  padding: 45px 375px 52px 375px;
  background-color: black;
}

.comp-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 270px;
}
.comp-desc__text {
  margin: 30px 0 35px;
  line-height: 1.714;
  color: #555555;
}
.comp-desc__link {
  margin: 0;
  font-style: "Montserrat_R", sans-serif;
  color: #d1d1d1;
}

.foot-recent {
  width: 270px;
}
.foot-recent__title, .widget__title, .twits__title {
  display: inline-block;
  margin: 30px 0;
  font: 24px/1.2 "Raleway_B", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
.foot-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #1f1f1f;
}
.foot-post:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.foot-post__date {
  font: 12px/1.667 "Montserrat_L", sans-serif;
  color: #363636;
}
.foot-post__text {
  margin: 15px 0 0;
  line-height: 1.429;
  color: #555555;
}
.foot-post:hover .foot-post__date {
  color: white;
}
.foot-post:hover .foot-post__text {
  color: #c7b299;
}

.twits {
  width: 270px;
}
.twits .foot-post__text {
  margin: 0 0 15px;
}
.widget {
  width: 270px;
}
.widget__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.widget__img {
  margin: 0 10px 10px 0;
}
.widget__img:nth-child(even) {
  margin-right: 0;
}

.foot-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding-left: 0;
}
.foot-info:last-child .foot-info__item:last-child .foot-info__link {
  color: #959595;
}
.foot-info__item {
  display: inline;
  padding: 0 12px 0 13px;
  font: 13px/1.538 "Montserrat_L", sans-serif;
  color: #555555;
  list-style-type: none;
  border-left: 1px solid #555555;
}
.foot-info__item:nth-child(3) .foot-info__link {
  text-transform: uppercase;
}
.foot-info__item:first-child {
  border-left: none;
}
.foot-info__item:first-child .foot-info__link {
  color: #959595;
}
.foot-info__link {
  text-transform: capitalize;
  text-decoration: none;
  color: #555555;
}
.foot-info__link:hover {
  color: #c7b299;
}

/*# sourceMappingURL=src/css/style.css.map */
